@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --primary-color: #3a4052;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "open sans", sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    /* color: var(--primary-color); */
}

h1 {
    font-weight: 300;
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 15px;
}

.showcase {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    color: white;

}

.video_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--primary-color) url("/IMG/img_home/blaue\ mehr.jpg") no-repeat center center/cover;
}

.video_container video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video_container:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(95, 94, 85, 0.568);

}

.video_content {
    z-index: 999;
}

.btn_video {
    display: inline-block;
    padding: 10px 30px;
    background: var(--primary-color);
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-top: 25px;
    opacity: 0.7;
}

.btn_video:hover {
    transform: scale(0.98);
}
#about {
    padding: 100px;
    text-align: center;
    margin: 10px auto;
    background-image: url(/IMG/img_community/community_bg.jpg);
    background-attachment: fixed;background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#about p {
    font-size: 1.7rem;
    max-width: 600px;
    margin: auto;
    color: rgb(35, 235, 35);
}

#about .span1 {
    font-size: 3rem;
    margin: 30px 0;
    color: white;
}

.span2 {
    font-size: 1.5rem;
    color: rgb(10, 10, 10);
}

.social a {
    margin: 0 5px;
}

/* page body */

.community_container {
    height:100vh;
    width: 100%;
    display: flex; 
    justify-content: space-around;
    padding: 30px 20px;
}

.community_container img {
    width: 90%;
    height: 100%;
}

div .paragrph {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}

.community_p {
    width: 100%;
    height: 45%;
    padding: 40px 20px 0 20px; 
    font-size: 1.3rem;
    border-radius: 5px;
    text-align: center;
}

h2, h3 {
    font-size: 1.9rem;
}

.p1 {
    background: rgb(48, 226, 48);
}

.p2 {
    background: rgba(226, 30, 89, 0.959);
    color: white;
    margin-top: 20px;
}

.container-fluid {
  margin-bottom: 30px;
}
.carousel-item {
    height: 100vh;
}

.carousel-item img {
    width: 100%;
    height: 100%;
}

div.background_1 {
    background-image: url(/IMG/img_community/track_community.jpg);
    margin-bottom: 30px;
}

