.card_container {
    padding: 50px 0;
}
.card img {
    margin: 20px 0;
    border-radius: 50%;
}

div.background_1 {
    display: flex;
    justify-content: space-evenly;
    flex-flow: column wrap;
    background: url(/IMG/haus_cards/haus_bg2.jpg);
}

.background_1 a {
    display: block;
    color: white;
    font-size: 1.7rem;
    margin: 10px;
}

.background_1 img:hover {
    opacity: .6;
    transition: 0.25s;
}

.services {
    width: 20%;
    z-index: 999;
}

.services img {
    border-radius: 50%;  
}

.services p {
    margin-left: 30px;
}

.services span {
    display: block;
    margin-left: 70px;
  
}
